<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getSurname() + ', ' + person.getSecondName()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<br/>

<td>
    <div th:if="${books.isEmpty()}" >
        <a>No books taken</a>
    </div>
    <div th:unless="${books.isEmpty()}" th:each="book : ${books}">
        <a th:text="${book.getName() + ', ' + book.getAuthor() + ',' + book.getYear()}">book</a>
    </div>
</td>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>